# java compiled things #
*.class
*.jar
**/bin/

# sound files #
*.wav
**/Sounds
*.WAV

# image files #
**/calibLog
**/cameraLogData

# eclipse environment files #
**/.metadata/
**/RemoteSystemsTempFiles/

*.swp
